* {
    border: 1px dotted red;
}

#container {
    width: 60%;
    background: #6c8ea0;
    margin: 0 auto;
}

header {
    background: #477187;
    background: linear-gradient(to bottom, #477187, black);
    text-align: center;
}

header h1 {
    font-family: 'Audiowide', cursive;
    color: #a2bac7;
    font-size: 4.5em;
}

header li {
    display: inline-block;
    padding: 0 30px 10px 0;
    color: #fcb9a6;
}

header a {
    color: #a2bac7;
    text-decoration: none;
}

header a:hover {
    color: #fcb9a6;
    font-weight: bold;
}

#stations {
    background: #10394f;
    text-align: center;
    padding: 5px;
    width: fit-content;
    width: -webkit-fit-content;
    width: -moz-fit-content;
}

#stations .station {
    border: none;
    font-size: 1em;
    padding: 5px;
}

#stations .clicked {
    background: #28546c;
    color: white;
}

#status p {
    padding: 0 10px 0 0;
    color: #ddd;
}

#status span {
    color: #fcd5a6;
    font-weight: bold;
}


#drugMenu {
    padding: 10px;
    border: 1px solid #6c939f;
    color: #ddd;
}

td {
    padding: 5px 5px 5px 5px;
    column-width: auto;
}

#colIDs {
    font-weight: bold;
    }
